.buttons-div{
	margin-top: 1em;
}

.buttons-div a{
	text-decoration: none;
	margin: 1em;
}

.mt-5
{
	margin-top: 5em;
}

.text-center{
	text-align: center;
}

.card{
	box-shadow: 1px 2px 4px 2px #efefef;
	padding:3em;
	font-family: serif;
}

.btn-trans{
	border: 2px solid #4b5986;
    color: #4b5986;
    border-radius: 7px;
    padding: 0.5em 2em;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

.btn-trans:hover,
.btn-trans:focus{	
	background-color: #4b5986;
    color: #fff;
    transition: all .3s ease-in-out;
}

.logo-container {
    padding: 25px;
    display: flex;
    align-items: center; 
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; 
}